<%- include("partials/header.ejs") %>

<div id="pageBox">
    <div id="btnCircle" class="circle"></div>
    <div id="signInRegisterBox" class="box">
        <a href="login"><button>Sign In</button></a>
        <a href="register"><button>Register</button></a>
    </div>
</div>

<script src="script/indexScript.js" charset="UTF-8"></script>

<%- include("partials/footer.ejs") %>