<%- include("partials/header.ejs") %>

<div id="pageBox">
    <div class="box">
        <h1>Access Denied</h1>
    </div>
</div>
<script src="script/registerScript.js"></script>
<%- include("partials/footer.ejs") %>