body {
    margin: 0;
    background-color: black;
}
header, footer, .box, #signInRegisterBox, button, input[type="submit"]{
    border-style:dashed;    
}
header, footer, button, input[type="submit"] {
    border-color: rgb(42, 180, 0);
    border-left: none;
    border-right: none;
}
header, footer, .box, input[type="text"], input[type="password"], button, input[type="submit"] {
    font-family: "VT323", monospace;
    font-size: 1.5rem;
}
header, footer, .box, #signInRegisterBox, input[type="text"], input[type="password"] {
    border-width: 2px;
}
header, footer, .box, #signInRegisterBox {
    border-top: none;
}
header, footer {
    background-color: black;
    color:rgb(42, 180, 0);
    text-align: center;
}
footer, .box, #signInRegisterBox {
    border-bottom: none;
}
header > a, header > a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor:pointer;
} 
.circle, .circleSmall, .circle:hover, .circle:active, .circleSmall:hover, .circleSmall:active, button, input[type="submit"], button:hover, input[type="submit"]:hover, button:active, input[type="submit"]:active {
    transition: 0.2s;
    cursor: pointer;
}
#pageBox, #signInRegisterBox {
    justify-content: center;
    align-items: center;
}
.box, #signInRegisterBox, input[type="text"], input[type="password"], input[type="text"]:focus, input[type="password"]:focus, button, input[type="submit"] {
    background-color: transparent;
    border-color: rgb(60, 255, 0);
}
.box, #signInRegisterBox {
    border-top-left-radius: 15%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 15%;
    padding: 30px;
    position: absolute;
}
.box, input[type="text"], input[type="password"], button, input[type="submit"] {
    font-weight: 500;
    color: rgb(60, 255, 0);
} 
footer {
    border-top: dashed 2px;
}
.circle, .circleSmall {
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgb(42, 180, 0), 1px -1px 10px rgb(42, 180, 0), -1px 1px 10px rgb(42, 180, 0), -1px -1px 10px rgb(42, 180, 0);
    background:
    linear-gradient(black, rgb(0, 0, 0)) 45px 19px / 8px 60px, 
    radial-gradient( transparent 10%, transparent 45%, rgb(42, 180, 0) 60%, black 40%),
    repeating-linear-gradient(90deg,transparent, rgba(42, 180, 0, 0.753) , transparent) 0px 0px / 100px 100px;
    background-repeat: no-repeat;
}

.circle:hover{
    transform: scale(1.06);
}
.circle:active{
    transform: scale(0.96);
}
.circleSmall {
    transform: scale(0.3);
    align-self:baseline;
}
.circleSmall:hover{
    transform: scale(0.36);
}
.circleSmall:active{
    transform: scale(0.29);
}
#pageBox{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 90vh;
}
#signInRegisterBox {
    display: none;
    gap: 20px;
}

input[type="text"], input[type="password"] {
    border-style: none none dashed none;
    border-bottom-right-radius: 15%;
}
input[type="text"]:focus, input[type="password"]:focus{
    outline:none;
    box-shadow:0px 2px 2px rgb(42, 180, 0);
}
button, input[type="submit"]{
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    color:rgb(60, 255, 0);
    padding: 5px 10px;
    border-width: 1px;
    border-top-left-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    margin-left: 10px;
}
button:hover, input[type="submit"]:hover{
    transform: scale(1.1);
}
button:active, input[type="submit"]:active{
    transform: scale(0.9);
}
@media (width <= 1250px) {
    #returnDisplayUserNPassW {
        border: none !important;
        transform: scale(0.8);
    }
    .circleSmall {
        transform: scale(0.7);
    }
}
  